<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guzi.upr.mapper.admin.RoleMapper">


    <select id="listByUserId" resultType="com.guzi.upr.model.admin.Role">
        SELECT
            t2.role_id,
            t2.role_name,
            t2.description
        FROM
            sys_user_role t1,
            sys_role t2
        WHERE
            t1.user_id = ${user_id} AND
            t1.role_id = t2.role_id
    </select>
</mapper>
